.mainHeading {
    font-size: calc(35px + 1.25vw);
    font-weight: 600;
}

.paragraph {
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    text-align: justify;
}

.btnStyle {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #18d26e;
}

.btnStyle:hover {
    color: #000;
    background: whitesmoke;
}

.section {
    position: relative;
    background-color: #000;
    opacity: 0.3;
}

.section::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url("../../public/factBg.jpg");
    background-attachment: fixed, scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 300px;
    width: 100%;
    color: black;
    text-align: center;
    display: table;
}

.content1 {
    position: relative;
    width: 100%;
    min-height: 300px;
}

.bgSection {
    position: relative;
    background-color: #000;
    /* opacity: 0.3; */
}

.bgSection::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url("https://images.unsplash.com/photo-1491677533189-49af044391ed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80");
    background-attachment: fixed, scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    color: black;
    text-align: center;
    display: table;
}

.bgSectionContent {
    position: relative;
    width: 100%;
    min-height: 500px;
}

.imgStyle {
    transition: transform .5s;
}

.imgStyle:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media (max-width: 1200px) {
    .bgSection::before {
        min-height: 750px;
        height: 75vh;
    }

    .bgSectionContent {
        min-height: 750px;
        height: 75vh;
    }
}

@media (max-width: 992px) {
    .bgSection::before {
        min-height: 750px;
        height: 90vh;
    }

    .bgSectionContent {
        min-height: 750px;
        height: 90vh;
    }
}

@media (max-width: 768px) {
    .bgSection::before {
        min-height: 750px;
        height: 100vh;
    }

    .bgSectionContent {
        min-height: 750px;
        height: 100vh;
    }
}